.auditor{
    text-align:center;
    font-size: 12px;
}

.select-auditor{
    margin-left: 45%;
    width: 200px;
    height: 40px;
    border: none;
    font-size: 20px;
    font-family: 'Baskervville', serif;
}